body {
}

#index {
    margin: 0 auto;
    position: relative;
    right: 450px;
}

#stock {
    position: relative;
    bottom: 660px;
    margin: 0 auto;
}

#currency {
    margin: 0 auto;
    position: relative;
    bottom: 1320px;
    left: 450px;
}

#cprofile {
    margin: 0 auto;
}

#analysis {
    margin: 0 auto;
}

#report {
    margin: 0 auto;
}

#table {
    margin: 0 auto;
}