body {
}

#djiprofile {
    margin: 0 auto;
}

#djianalysis {
    margin: 0 auto;
}

#spxprofile {
    margin: 0 auto;
}

#spxanalysis {
    margin: 0 auto;
}

#deuprofile {
    margin: 0 auto;
}

#deuanalysis {
    margin: 0 auto;
}

#eurusdprofile {
    margin: 0 auto;
}

#eurusdanalysis {
    margin: 0 auto;
}

#gbpusdprofile {
    margin: 0 auto;
}

#gbpusdanalysis {
    margin: 0 auto;
}

#rubusdanalysis {
    margin: 0 auto;
}