@page
@model TradingView.Pages.INDEX.DEU30Model
@{
}

<head>
    <link href="~/css/trading.css" rel="stylesheet" />
</head>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_0a83c"></div>
    <div class="tradingview-widget-copyright"><a href="https://ru.tradingview.com/symbols/INDEX-DEU30/" rel="noopener" target="_blank"><span class="blue-text">График DEU30</span></a> от TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "INDEX:DEU30",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "3",
  "locale": "ru",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_0a83c"
}
  );
    </script>
</div>
<!-- TradingView Widget END -->


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" id="deuanalysis">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://ru.tradingview.com/symbols/TVC-DEU30/technicals/" rel="noopener" target="_blank"><span class="blue-text">Технический анализ DEU30</span></a> от TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
  {
  "interval": "1m",
  "width": "480",
  "isTransparent": false,
  "height": "450",
  "symbol": "TVC:DEU30",
  "showIntervalTabs": true,
  "locale": "ru",
  "colorTheme": "light"
}
  </script>
</div>
<!-- TradingView Widget END -->


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" id="deuprofile">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://ru.tradingview.com/symbols/XETR-DAX/" rel="noopener" target="_blank"><span class="blue-text">Профиль DAX</span></a> от TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
  {
  "symbol": "XETR:DAX",
  "width": 480,
  "height": 650,
  "colorTheme": "light",
  "isTransparent": false,
  "locale": "ru"
}
  </script>
</div>
<!-- TradingView Widget END -->